@import "comb__style/mixin";
@import "comb__style/sections";
@import "comb__style/utilities";

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Poppins", sans-serif;
}
.header{
  height: 70vh;
  
  &__box {
    position: fixed;
    z-index: 10000;
    top: 0;
    left: 0;
    right: 0;
    background-color: white;
    box-shadow: 0 0 2rem rgba( 0, 0, 0, .5);
  }

  &__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10rem;
    padding-right: 2rem;

    &-img {
      margin-left: 2rem;
      display: flex;
      gap: 2rem;
    }

    &-img h1 {
      font-size: 2.5rem;
      text-transform: uppercase;
      text-shadow: 0 .4rem .8rem rgba( 0, 0, 0, .8);
    }

    &-list {
      display: flex;
      gap: 2rem;
      font-size: 2rem;
    }

  }
}

.home {
  height: 100vh;
  background-image: url(../images/img10.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 15rem;
  color: white;
}

.content {
  text-align: center;
  // margin-top: 20rem;

  &__header-nav {
    font-size: 6rem;
    text-shadow: 0 .8rem .4rem rgba(122, 122, 122, 0.4);
  }

  &__paragraph-nav {
    font-size: 2.5rem;
    margin: 6rem 10rem;
    line-height: 1.7;
  }

}
