@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');
@import "comb__style/mixin";
@import "comb__style/sections";
@import "comb__style/utilities";

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Lato", sans-serif;
}

.header{
  height: 76vh;
  margin-bottom: -3rem;
  
  &__box {
    position: fixed;
    z-index: 10000;
    top: 0;
    left: 0;
    right: 0;
    background-color: white;
    box-shadow: 0 0 2rem rgba( 0, 0, 0, .5);
  }

  &__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 7rem;
    padding-right: 2rem;

    &-img {
      margin-left: 2rem;
      display: flex;
      gap: 2rem;
    }

    &-img h1 {
      font-size: 2.1rem;
      text-transform: uppercase;
      // text-shadow: 0 .4rem .8rem rgba( 0, 0, 0, .8);
    }

    &-list {
      display: flex;
      gap: 2rem;
      font-size: 1.5rem;
      font-weight: 500;
    }

    &-button {
      padding: 0 .8rem;
      font-size: 1.6rem;
      font-weight: 400;
      background-color: transparent;
      border: none;
      color: rgb(1, 106, 176);
      align-self: center;
      cursor: pointer;
    }

  }

}

.home {
  height: 100vh;
  background-image: url(../images/img10.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 15rem;
  color: white;
}

.content {
  text-align: center;
  // margin-top: 20rem;

  &__header-nav {
    font-size: 4rem;
    text-shadow: 0 .8rem .4rem rgba(122, 122, 122, 0.4);
    margin-top: 6rem;
  }

  &__paragraph-nav {
    font-size: 1.8rem;
    margin: 4rem 15rem;
    line-height: 1.7;
  }

}
