.about {
  width: 90%;
  margin: 0 auto;
  background-color: whitesmoke;
  padding: 2rem;
  border-radius: .8rem;
  margin-top: 15rem;
}

.about__section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.card {
  border-radius: .3rem;
  box-shadow: 0 0 .3rem rgba(0, 0, 0, .4);
  margin: 0 4rem;
  background-color: white;
  font-family: "Poppins",sans-serif;

  &__icon {
    display: inline-block;
    width: 6rem;
    height: 6rem;
    object-position: center;
    object-fit: cover;
    overflow: hidden;
    margin: .8rem 0 0 .8rem;
    box-shadow: 0 0 .3rem rgba(0, 0, 0, .2);
  }

}

.about__mission {
  display: flex;
  margin-top: 4rem;
}

.holder__mission {
  font-size: 1.6rem !important;
  font-weight: 700;
}

.mission {
  padding: 1rem 2rem;
  border-radius: 10px;
  margin-right: 1.8rem;
  box-shadow: 0 0 .3rem rgba(0, 0, 0, .2);
  background-color: white;
  
  &__flex {
    display: flex;
    gap: 2rem;
    align-items: center;
    margin-bottom: 1.5rem;
  }

  &__img {
    width: 10rem;
    height: 10rem;
    margin: 1rem 0 0 1rem;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0 0 .3rem rgba(0, 0, 0, .2);
  }
  
  &__card {
    height: 30rem;
  }

}

// store section

.store {
  height: 100%;
}

.buy {
  width: 90%;
  margin: 0 auto;

  &__text {
    text-transform: uppercase;
  }

  &__text-header {
    font-size: 2rem;
    letter-spacing: .2rem;
    margin-bottom: 1.2rem;
    text-align: center;
    text-transform: uppercase;
  }

  &__content {
    display: flex;
    gap: 4rem;
  }

  &__card {
    display: flex;
    align-items: center;
    gap: 6rem;
    margin-top: 4rem;
    box-shadow: 0 0 .8rem rgba($color: #000000, $alpha: .4);
    border-radius: 2rem ;
    padding: 1rem;

    &-long {
      margin-top: 4rem;
      box-shadow: 0 0 .8rem rgba($color: #000000, $alpha: .4);
      border-radius: 2rem ;
      padding: 1rem;
    }

    &-img {
      overflow: hidden;
      width: 32rem;
      height: 20rem;
      border-radius: .6rem;
    }

    &-text p {
      color: rgb(28, 28, 28) ;
      line-height: 1.7;
      font-weight: 600;
      font-size: 1.3rem;
      font-family: inherit;
    }

    &-text a {
      font-size: 1.3rem;
    }

    &-text .btn__green {
      margin-top: 4rem;
      padding: 1.5rem 2rem
    }

  }

}

.btn {
  @include button ;
}

// news style
.news {
  width: 90%;
  margin: auto;

  &__header {
    margin-bottom: 1.5rem !important;
    font-size: 2.2rem !important;
  }

}

.news__box {
  display: flex;
  gap: 4rem;
  align-items: center;
  padding: 1rem 2rem;
  box-shadow: 0 0 .3rem rgba(0, 0, 0, .2);
  margin-top: 3rem;

  &-img {
    overflow: hidden;
    width: 70%;
    height: 20rem;
  }

}

// tesimonials style

.testimonials {
  width: 90%;
  margin: auto;

  &__grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1.5rem;
  }
   
  &__container {
    box-shadow: 0 0 .6rem rgba(0, 0, 0, .4);
    border-radius: .4rem 1.7rem;
    width: 98%;
    padding: 1.5rem;
  }

  &__box {
    display: flex;
    margin: .4rem;
  }

  &__img {
    overflow: hidden;
    width: 10rem;
    height: 8rem;
    border-radius: .5rem;
  }
}

.column {
  grid-row: 1 /span 3;
  padding: 1.5rem;
  height: 97%;
  box-shadow: 0 .2rem 1rem rgba(0, 0, 0, .8);

  &__img {
    width: 40rem;
    height: 20rem;
    border-radius: .5rem;
    overflow: hidden;
  }
}

// contact style

.contact {
  &__layout {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-image: linear-gradient(rgba(255, 255, 255, 0.8),
         rgba(255, 255, 255, 0.8)), url(../../images/img7.2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 80%;
    margin: auto;
    margin-top: 1rem;
    border-radius: 2rem;
    padding: 2rem;
  }

  &_text {
    font-size: 1.7rem;
    line-height: 1.7;
    letter-spacing: .1rem;
    width: 70%;
    margin: auto;
    text-align: center;
  }

  &__content {
    width: 50%;
  }

  &__box {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;

    &-icon {
      text-align: center;
      width: 8rem;
      height: 8rem;
      border-radius: 50%;
      background-color: #fff;
    }

    &-icon:not(:last-child) {
      margin-bottom: 1rem;
    }
    
    &-icon img {
      margin-top: 1.8rem;
      width: 50%;
    }

    &-text {
      font-size: 1.3rem;
    }

    &-header {
      font-weight: 400;
      text-transform: uppercase;
      font-family: "Poppins", sans-serif;
      padding-bottom: .4rem;
    }

    &-paragraph {
      font-size: 1.4rem;
    }

  }

  &__form {
    width: 50%;
  }

  &__input {
    width: 60%;
    margin: auto;
  }

  &__input input,
  &__input textarea {
    display: block;
    width: 100%;
    padding: 1rem;
    margin-bottom: 1.4rem;
    font-size: 1.7rem;
    border: none;
    outline: none;
    box-shadow: 0 .2rem .4rem rgba(0, 0, 0, .8);
    border-radius: .4rem;
    border-bottom: .2rem solid transparent;
  }

  &__input input:focus {
    border-bottom: .2rem solid black;
  }

  &__input button {
    padding: 1.5rem 6rem;
    margin-top: 1rem;
    box-shadow: 0 .2rem .8rem rgba(47, 47, 47, 0.8);
    border-radius: .8rem;
    border: none;
    font-size: 1.7rem;
    font-weight: 700;
  }

}