.content__header {
  font-size: 2rem;
  margin: 1rem 0 .8rem .8rem;
}

.header1 {
  font-size: 2.5rem;
}

.content__paragraph {
  font-size: 1.5rem;
  margin: 1rem 0 .8rem .8rem;
  line-height: 1.7;
  color: rgb(102, 102, 102);
}

.top_margin {
  margin-top: 6rem;
}

.Header {
  margin: 3rem 0;
  text-align: center;
  font-size: 3rem;
}

.btn__white {
  position: relative;
  transition: all .2s ease;
}

.btn__white:link,
.btn__white:visited {
  background-color: white;
  padding: 1.5rem 4rem;
  font-size: 2.5rem;
  text-shadow: 0 0 4rem rgba($color: #000000, $alpha: .8);
  border-radius: 4rem;
  font-weight: 700;
  color: black;
}

.btn__white::after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -11;
  border-radius: 60rem;
  background-color: #ffffff;
  padding: 2.5rem 10rem;
  transition: all .8s ease;
}

.btn__white:hover::after {
  transform: scaleX(1.6) scaleY(1.3);
  opacity: 0;
}

.btn__white:hover {
  transform: translatey(-3px);
}