.content__header {
  font-size: 2rem;
  margin: 1rem 0 .8rem .8rem;
}

.header1 {
  font-size: 2.5rem;
}

.content__paragraph {
  font-size: 1.5rem;
  margin: 1rem 0 .8rem .8rem;
  line-height: 1.7;
  color: rgb(102, 102, 102);
}

.btn:link,
.btn:visited {
  font-size: 1.5rem;
  display: inline-block;
  margin: .8rem; 
}

.top_margin {
  margin-top: 6rem;
}

.Header {
  margin: 3rem 0;
  text-align: center;
  font-size: 4rem;

}